<ion-view>
  <ion-content>
  	<h1>Grabar sonidos</h1>
    <button class="button button-full button-royal" ng-click="grabarIzquierda()">
      Izquierda
    </button>
    <button class="button button-full button-royal" ng-click="grabarDerecha()">
      Derecha
    </button>
    <button class="button button-full button-royal" ng-click="grabarAdelante()">
      Adelante
    </button>
    <button class="button button-full button-royal" ng-click="grabarAtras()">
      Atras
    </button>
    <button class="button button-full button-royal" ng-click="grabarAbajo()">
      Abajo
    </button>
  </ion-content>
</ion-view>