<ion-view>

  <ion-content>
  	<h1>Grabar sonidos</h1>
    <div class="buttons">
    <button class="button button-block button-energized" ng-click="grabarIzquierda()">
      Izquierda
    </button>
    <button class="button button-block button-energized" ng-click="grabarDerecha()">
      Derecha
    </button>
    <button class="button button-block button-energized" ng-click="grabarAdelante()">
      Adelante
    </button>
    <button class="button button-block button-energized" ng-click="grabarAtras()">
      Atras
    </button>
    <button class="button button-block button-energized" ng-click="grabarAbajo()">
      Abajo
    </button>

    <button class="button button-block button-stable" ng-click="toAutor()">
      Autor <i class="ion-chevron-right"></i>
    </button>
    </div>
  </ion-content>
</ion-view>