/* Empty. Add your own CSS if you like */
ion-content{
	background: url('../img/field.jpg') center center fixed;
}
.container{
	background-color:snow;
	width:90vw;
	height:80vh;
	margin:5%;
	opacity:0.6;
	border-radius: 15px;	
}
h1, a, .author-name, .author-email{
	font-size: 1.5rem;
	color:snow;
}
.content{
	color:black;
	font-family:georgia;
	padding:5% 10%;
	position:fixed;
	overflow:auto;
	height:75vh;
}
.nota{
	position:fixed;
	bottom:0px;
	font-size:0.7rem;
	height:2rem;
	width:90vw;
	text-align: center;
}
.fotos img{
	width:100px;
	height:100px;
}

@media (min-width: 450px){
	div.buttons button{
		width: 48vw;
		display:inline-block;
	}
}

@media(max-width: 449px){
	div.buttons button{
		width:90vw;
	}
}